<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>PortFolio | bilal-h.com</title>
  </head>
  <body>
      {{> header }}
      <p><i>Welcome to my PortFolio</i></p>
      <ul>
        <li>github</li>
        <li>heroku</li>
        <li>nodeJs</li>
      </ul>

    {{> footer }}
  </body>
</html>
